.App {
  text-align: center;
  background-color: #ffff;
}
.App > h1 {
  font-size: 22px;
  align-items: center;
  margin-top: 10px;
}
.navbar {
  background-color: #007bff;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.nav-link:hover {
  text-decoration: underline;
}
.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.item-card {
  background: rgb(238, 238, 238);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: left;
}
.item-card h4 {
  margin: 0;
  font-size: 18px;
  color: #333;
}
.item-card p {
  margin: 5px 0;
  color: #555;
}
.item-card button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 60%;
}
.item-card button:hover {
  background-color: #0056b3;
}
.cart {
  margin-top: 20px;
  text-align: left;
}
.cart h4 {
  font-size: 20px;
  margin: 10px;
}
.cart li {
  list-style: none;
  margin: 10px;
}
.cart h5 {
  margin: 10px;
  font-size: 18px;
  color: #333;
}
